# This file is meant to be imported by your own .gitconfig
# To import, write
# [include]
#   path = /path/to/this/file
[push]
    default = upstream
[branch]
  autosetuprebase = always
[merge]
  conflictstyle = diff3
[alias]
    pullr = pull -r
    ci = commit
    st = status --ignore-submodules
    co = checkout
    br = branch --color -avv
    rb = rebase
    ls = log --stat
    staged = diff --cached --color
    graph = log --decorate --graph --all
    hlog = log --date-order --all --graph --format=\"%C(green)%H%Creset %C(yellow)%an%Creset %C(blue bold)%ar%Creset %C(red bold)%d%Creset%s\"
    d = diff --color-words
    cfiles = diff-tree --no-commit-id --name-only -r HEAD~1
    sm = "!git submodule update --init --recursive; git submodule foreach git pull origin master"
    df = diff --name-only HEAD~1
[core]
    pager = less -FrX --ignore-case
[color]
    diff = auto
    branch = auto
    interactive = auto
    ui = auto
    status = auto
