# All Python Cache Folders
__pycache__

# Swap and Temporary Files
*.swp
*.!sync

# Compiled Sources
*.o
*.exe

# Packages
*.tar
*.jar
*.rar
*.gz
*.iso
*.zip

# Logs
*.log
*.sql

# vim stuff
.netrwhist
vim/.vim/sessions
vim/.vim/spell

# Personal Environment Variables
altovars.config

# Stored API Passwords and Secrets
*.cronos
