[submodule "nerdtree"]
    path = vim/.vim/bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/syntastic"]
    path = vim/.vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vmath"]
    path = vim/.vim/bundle/vmath
    url = https://github.com/gavinbeatty/vmath.vim.git
[submodule "vim/.vim/bundle/vim-surround"]
    path = vim/.vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-commentary"]
    path = vim/.vim/bundle/vim-commentary
    url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/bundle/repeat"]
    path = vim/.vim/bundle/repeat
    url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/fugitive"]
    path = vim/.vim/bundle/fugitive
    url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/python-mode"]
    path = vim/.vim/bundle/python-mode
    url = git@github.com:klen/python-mode.git
[submodule "vim/.vim/bundle/nerdcommenter"]
    path = vim/.vim/bundle/nerdcommenter
    url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/vim-signature"]
    path = vim/.vim/bundle/vim-signature
    url = git@github.com:kshenoy/vim-signature.git
[submodule "vim/.vim/bundle/vim-airline"]
    path = vim/.vim/bundle/vim-airline
    url = git@github.com:bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-markdown-preview"]
    path = vim/.vim/bundle/vim-markdown-preview
    url = git@github.com:JamshedVesuna/vim-markdown-preview.git
[submodule "vim/.vim/bundle/vim-multiple-cursors"]
	path = vim/.vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
