[submodule "nerdtree"]
    path = vim/.vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/syntastic"]
    path = vim/.vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-surround"]
    path = vim/.vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/repeat"]
    path = vim/.vim/bundle/repeat
    url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/fugitive"]
    path = vim/.vim/bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/python-mode"]
    path = vim/.vim/bundle/python-mode
    url = https://github.com/klen/python-mode.git
[submodule "vim/.vim/bundle/nerdcommenter"]
    path = vim/.vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/vim-signature"]
    path = vim/.vim/bundle/vim-signature
    url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/.vim/bundle/vim-markdown-preview"]
    path = vim/.vim/bundle/vim-markdown-preview
    url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "vim/.vim/bundle/vim-multiple-cursors"]
    path = vim/.vim/bundle/vim-multiple-cursors
    url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/.vim/bundle/ctrlp"]
    path = vim/.vim/bundle/ctrlp
    url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-vmath"]
    path = vim/.vim/bundle/vim-vmath
    url = https://github.com/DavidGamba/vim-vmath.git
[submodule "vim/.vim/bundle/vim-exchange"]
    path = vim/.vim/bundle/vim-exchange
    url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/.vim/bundle/vim-puppet"]
    path = vim/.vim/bundle/vim-puppet
    url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/vim-javascript"]
    path = vim/.vim/bundle/vim-javascript
    url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/Todo.vim"]
    path = vim/.vim/bundle/Todo.vim
    url = https://github.com/DepthDeluxe/Todo.vim
[submodule "vim/.vim/bundle/vim-scala"]
    path = vim/.vim/bundle/vim-scala
    url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/.vim/bundle/vim-easymotion"]
	path = vim/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
